.detail-item {

}
.detail-label {
  font-size: .7rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: .5rem;
  color: #999999;
}
hr {
  border-color: #aaaaaa;
  margin: 1rem 0 1rem 0;
}
