<p-toast></p-toast>
<p-confirm-dialog></p-confirm-dialog>
<p-toolbar>
  <ng-template #start>
    <h2 class="text-2xl">Cases Overview</h2>
  </ng-template>
  <ng-template #end>
    <p-multi-select [options]="categories()" [(ngModel)]="selectedCategories" optionLabel="label" placeholder="Select Categories" [maxSelectedLabels]="20" styleClass="me-3 w-full md:w-80">
    </p-multi-select>
    <p-button class="ms-2" icon="pi pi-refresh" label="Refresh" (onClick)="refresh()"></p-button>
  </ng-template>
</p-toolbar>
<p-toolbar styleClass="mt-4">
  <ng-template #start></ng-template>
  <ng-template #center>
    <div class="flex flex-wrap gap-4">
      <div class="flex items-center">
        <p-radio-button name="selectedmetric" value="episodes" [(ngModel)]="selectedMetric"></p-radio-button>
        <label class="ml-2">Episodes</label>
      </div>
      <div class="flex items-center">
        <p-radio-button name="selectedmetric" value="anMinutes" [(ngModel)]="selectedMetric"></p-radio-button>
        <label class="ml-2">AN Minutes</label>
      </div>
      <div class="flex items-center">
        <p-radio-button name="selectedmetric" value="inRoomMinutes" [(ngModel)]="selectedMetric"></p-radio-button>
        <label class="ml-2">InRoom Minutes</label>
      </div>
    </div>
  </ng-template>
  <ng-template #end></ng-template>
</p-toolbar>
@if (isLoading) {
  <div class="card flex justify-center mt-4">
    <p-progress-spinner [style]="{ width: '50px', height: '50px' }" />
  </div>
}

@if (fyResults()) {
  <div class="grid grid-col-1 gap-4 md:grid-cols-2 md:gap-6 mt-4">
    <div class="bg-white shadow-sm border border-slate-200 p-4 rounded-lg flex flex-col items-center">
      <h4 class="font-medium text-xl text-sky-500">FY-TD</h4>
      <div class="flex w-full justify-center gap-2 text-sm">
        <div class="text-sky-500">{{totals().fy[selectedMetric()] | number}}</div>
        <div class="text-stone-400">|</div>
        <div class="text-amber-500">{{totals().prevFy[selectedMetric()] | number}}</div>
      </div>
      <p-chart height="200" class="w-full"
               type="line" [data]="topFyData()" [options]="fyChartOptions" />
    </div>
    <div class="bg-white shadow-sm border border-slate-200 p-4 rounded-lg flex flex-col items-center">
      <h4 class="font-medium text-xl text-sky-500">Rolling 12 Months</h4>
      <div class="flex w-full justify-center gap-2 text-sm">
        <div class="text-sky-500">{{totals().rolling[selectedMetric()] | number}}</div>
        <div class="text-stone-400">|</div>
        <div class="text-amber-500">{{totals().prevRolling[selectedMetric()] | number}}</div>
      </div>
      <p-chart height="200" class="w-full"
               type="line" [data]="topRollingData()" [options]="rollingChartOptions" />
    </div>
  </div>

  <p-panel styleClass="mt-4">
    <p-table [value]="tableData()" showGridlines stripedRows>
      <ng-template #caption>
        <div class="flex justify-between items-center">
          <div class="text-xl font-bold">By Category</div>
<!--          <div class="text-amber-500"><i class="pi pi-circle-fill"></i> Orange is Previous</div>-->
        </div>
      </ng-template>
      <ng-template #header>
        <tr>
          <th>Category</th>
          <th>Prev-FY</th>
          <th>FY-TD</th>
          <th>% &#9650;</th>
          <th>Prev-Rolling</th>
          <th>Rolling-12</th>
          <th>% &#9650;</th>
        </tr>
      </ng-template>
      <ng-template #body let-row>
        <tr>
          <td>{{row.category}}</td>
          <td>{{row.prevFy[selectedMetric()] | number}}</td>
          <td>{{row.fy[selectedMetric()] | number}}</td>
          <td [innerHTML]="row.prevFy[selectedMetric()] | coloredPercChange: row.fy[selectedMetric()] : true">

          </td>
          <td>{{row.prevRolling[selectedMetric()] | number}}</td>
          <td>{{row.rolling[selectedMetric()] | number}}</td>
          <td [innerHTML]="row.prevRolling[selectedMetric()] | coloredPercChange: row.rolling[selectedMetric()] : true">
        </tr>
      </ng-template>
      <ng-template #footer>
        <tr>
          <td class="font-bold">Totals</td>
          <td class="font-bold">{{totals().prevFy[selectedMetric()] | number}}</td>
          <td class="font-bold">{{totals().fy[selectedMetric()] | number}}</td>
          <td [innerHTML]="totals().prevFy[selectedMetric()] | coloredPercChange: totals().fy[selectedMetric()] : true">
          <td class="font-bold">{{totals().prevRolling[selectedMetric()] | number}}</td>
          <td class="font-bold">{{totals().rolling[selectedMetric()] | number}}</td>
          <td [innerHTML]="totals().prevRolling[selectedMetric()] | coloredPercChange: totals().rolling[selectedMetric()] : true">
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
}



